<a href="https://colab.research.google.com/github/mauloredo/Challenge_Telecom_X/blob/main/Challenge_Telecom_X.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRODUCCI√ìN

**Desaf√≠o Telecom X**

El desaf√≠o Telecom X ofrece una oportunidad √∫nica para aplicar habilidades esenciales de an√°lisis de datos en un escenario de negocios real.

Aplicaci√≥n pr√°ctica del conocimiento
La limpieza y tratamiento de datos es una habilidad fundamental para cualquier analista de datos. La manipulaci√≥n de grandes vol√∫menes de informaci√≥n exige la capacidad de identificar y corregir inconsistencias en los datos, como valores nulos, duplicados y datos fuera de est√°ndar. Garantizar que los datos est√©n listos para el an√°lisis es un paso esencial para obtener resultados precisos y confiables.

El an√°lisis exploratorio de datos (EDA) es una etapa crucial para comprender en profundidad los datos. La capacidad de aplicar estad√≠sticas descriptivas y generar visualizaciones permite identificar patrones, tendencias y relaciones entre las variables. Esto ayuda a formular hip√≥tesis y generar insights que pueden influir en decisiones estrat√©gicas dentro de la empresa.

Al participar en este desaf√≠o, aplicar√°s conocimientos esenciales para el an√°lisis de grandes vol√∫menes de datos en un contexto real, donde tus hallazgos podr√°n impactar directamente en las estrategias de la empresa para mejorar el principal problema que est√°n enfrentando.

**Instrucciones**

Telecom X es una empresa de telecomunicaciones y has sido contratado como analista de datos para trabajar en un proyecto espec√≠fico de Churn de clientes. La empresa est√° enfrentando un alto √≠ndice de evasi√≥n de clientes y a√∫n no han identificado el problema de esta evasi√≥n. Para ello, te han proporcionado algunos datos en los que tendr√°s que buscar, tratar y realizar un an√°lisis exploratorio para, una vez limpiados estos datos, poder proporcion√°rselos al equipo de ciencia de datos. De esta manera, podr√°n realizar un an√°lisis predictivo y determinar de d√≥nde proviene esta evasi√≥n de clientes.

Una parte muy importante es esta secci√≥n de extracci√≥n de datos donde estamos proporcionando una API que te entregar√° un JSON desde donde tendr√°s que extraer estos datos en tu Google Colab. Una vez que hayas completado todos los pasos del desaf√≠o, tendr√°s que venir a esta secci√≥n, esta tarjeta de informe final y tendr√°s que escribir tus conclusiones, dar las razones por las cuales crees que est√° ocurriendo esta evasi√≥n de clientes.

En este desaf√≠o, pondr√°s en pr√°ctica todas las habilidades que has adquirido hasta ahora a trav√©s de los cursos de ETL, por ejemplo, y de an√°lisis exploratorio y podr√°s utilizar herramientas como Python, Pandas y Matplotlib.

# DESARROLLO

**Tareas clave**

‚úÖ Importar y manipular datos desde una API de manera eficiente.

‚úÖ Aplicar los conceptos de ETL (Extracci√≥n, Transformaci√≥n y Carga) en la preparaci√≥n de los datos.

‚úÖ Crear visualizaciones estrat√©gicas para identificar patrones y tendencias.

‚úÖ Realizar un An√°lisis Exploratorio de Datos (EDA) y generar un informe con insights relevantes.

## Extracci√≥n de datos

Para iniciar tu an√°lisis, necesitar√°s importar los datos de la API de Telecom X. Estos datos est√°n disponibles en formato JSON y contienen informaci√≥n esencial sobre los clientes, incluyendo datos demogr√°ficos, tipo de servicio contratado y estado de evasi√≥n.

üìå Enlace de la API:
https://github.com/ingridcristh/challenge2-data-science-LATAM/blob/main/TelecomX_Data.json

https://github.com/ingridcristh/challenge2-data-science-LATAM

###  Cargar los datos directamente desde la API utilizando Python.

In [53]:
import pandas as pd

url = "https://raw.githubusercontent.com/mauloredo/Challenge_Telecom_X/main/TelecomX_Data.json"
df = pd.read_json(url)

df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

### Primera examinaci√≥n de los datos

**Exploraci√≥n General de los Datos**

‚úÖ N√∫mero de filas y columnas: (7267, 6)

‚úÖ Nombres de columnas:

customerID

Churn

customer

phone

internet

account


‚úÖ Tipos de datos de cada columna (df.dtypes)

customerID	object

Churn	object

customer	object

phone	object

internet	object

account	object

**Calidad y Consistencia de los Datos**

‚úÖ NAN's, entradas vac√≠as y valores nulos (df.isnull().sum())

customerID	0 empty

Churn	0 empty / 224 " "

customer	0 empty

phone	0 empty

internet	0 empty

account	0 empty

0 "none" / 0 "N/A" / "unknown"

### Analizando la estructura / Explosi√≥n de Dicc¬¥s

Para poder continuar con el an√°lisis, es necesario tratar datos andidos, por lo que he dividido este primer vistazo en dos. El antes y el despu√©s de la explosi√≥n.

Typos de datos por columna:

- customerID	<class 'str'>
- Churn	<class 'str'>
- customer		<class 'dict'>
- phone	<class 'dict'>
- internet		<class 'dict'>
- account		<class 'dict'>
		<class 'dict'>	<class 'dict'>	<class 'dict'>	<class 'dict'>	7267

Analizando cada colunna, sabemos un poco mas sobre la informaci√≥n qe contienen
- customer: (gender, SeniorCitizen, etc.)
- phone:servicios de telefon√≠a (phoneservices, multipleLines)
- internet (InternetService, OnlineSecurity)
- account (Contract, PaperlessBilling)

El Dataframe final, debiera tener las siguientes colunas
1. customerID
2. Churn
3. gender
4. SeniorCitizen
5. Partner
6. Dependents
7. tenure
8. PhoneService
9. MultipleLines
10. InternetService
11. OnlineSecurity
12. OnlineBackup
13. DeviceProtection
14. TechSupport
15. StreamingTV
16. StreamingMovies
17. Contract
18. PaperlessBilling
19. PaymentMethod
20. Charges.Monthly
21. Charges.Total

In [54]:
df.applymap(type).value_counts()

<ipython-input-54-2185598585>:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(type).value_counts()

customerID     Churn          customer        phone           internet        account
<class 'str'>  <class 'str'>  <class 'dict'>  <class 'dict'>  <class 'dict'>  <class 'dict'>    7267
Name: count, dtype: int64

In [55]:
df[['customer', 'phone', 'internet', 'account']].iloc[0]

customer    {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
phone          {'PhoneService': 'Yes', 'MultipleLines': 'No'}
internet    {'InternetService': 'DSL', 'OnlineSecurity': '...
account     {'Contract': 'One year', 'PaperlessBilling': '...
Name: 0, dtype: object

In [56]:
df_customer = pd.json_normalize(df['customer'])
df_phone = pd.json_normalize(df['phone'])
df_internet = pd.json_normalize(df['internet'])
df_account = pd.json_normalize(df['account'])

In [57]:
df_customer.head()

   gender  SeniorCitizen Partner Dependents  tenure
0  Female              0     Yes        Yes       9
1    Male              0      No         No       9
2    Male              0      No         No       4
3    Male              1     Yes         No      13
4  Female              1     Yes         No       3

In [58]:
df_phone.head()

  PhoneService MultipleLines
0          Yes            No
1          Yes           Yes
2          Yes            No
3          Yes            No
4          Yes            No

In [59]:
df_internet.head()

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No

In [60]:
df_account.head()

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.6,593.3
1,Month-to-month,No,Mailed check,59.9,542.4
2,Month-to-month,Yes,Electronic check,73.9,280.85
3,Month-to-month,Yes,Electronic check,98.0,1237.85
4,Month-to-month,Yes,Mailed check,83.9,267.4

In [61]:
(df == "").sum()

customerID      0
Churn         224
customer        0
phone           0
internet        0
account         0
dtype: int64

In [62]:
(df == " ").sum()

customerID    0
Churn         0
customer      0
phone         0
internet      0
account       0
dtype: int64

In [63]:
(df == "N/A").sum()

customerID    0
Churn         0
customer      0
phone         0
internet      0
account       0
dtype: int64

In [64]:
(df == "none").sum()

customerID    0
Churn         0
customer      0
phone         0
internet      0
account       0
dtype: int64

### Convertir los datos a un DataFrame de Pandas para facilitar su manipulaci√≥n.

In [65]:
df_final = pd.concat([df[['customerID', 'Churn']], df_customer, df_phone, df_internet, df_account], axis=1)
df_final.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

### Reestructuraci√≥n del An√°lisis exploratorio y Resultados

Con los resultados que obtuvimos en la priera parte, es necesario explotar el dataframe y comenszar nuevamente el an√°lisis de la siguiente manera:

1Ô∏è‚É£ Revisi√≥n General del Dataset

- N√∫mero de filas y columnas  ***7267 entries, 0 to 7266/ (total 21 columns):***

- Nombres de columnas ***Identificadas anteriormente***

- Tipos de datos despu√©s de la explosi√≥n ***https://colab.research.google.com/drive/1NYrmyO1IQNW4CePKhMzZP5vJBcHjQE1h#scrollTo=__UK-2TMnBMU&line=1&uniqifier=1***

2Ô∏è‚É£ Calidad y Consistencia de los Datos

- Valores nulos, vac√≠os ("") ("none") ("N/A") o inconsistentes

- Frecuencia de categor√≠as poco comunes

3Ô∏è‚É£ Estructura de Datos (ya hemos revisado diccionarios)

- Detecci√≥n de variables categ√≥ricas vs. num√©ricas

- Evaluaci√≥n de valores √∫nicos

4Ô∏è‚É£ An√°lisis de Duplicados

- Filas repetidas o valores sospechosamente similares

5Ô∏è‚É£ Formatos Correctos

- Capitalizaci√≥n y espacios extra

- Conversi√≥n de valores a tipos apropiados (int, float, bool)

***https://colab.research.google.com/drive/1NYrmyO1IQNW4CePKhMzZP5vJBcHjQE1h#scrollTo=3pQPuU4iokqm&line=2&uniqifier=1***

In [66]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [67]:
df_final.describe(include='all')

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
count,7267,7267,7267,7267.000000,7267,7267,7267.000000,7267,7267,7267,...,7267,7267,7267,7267,7267,7267,7267,7267,7267.000000,7267
unique,7267,3,2,NaN,2,2,NaN,2,3,3,...,3,3,3,3,3,3,2,4,NaN,6531
top,9995-HOTOH,No,Male,NaN,No,No,NaN,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,20.2
freq,1,5174,3675,NaN,3749,5086,NaN,6560,3495,3198,...,3182,3195,3582,2896,2870,4005,4311,2445,NaN,11
mean,NaN,NaN,NaN,0.162653,NaN,NaN,32.346498,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.720098,NaN
std,NaN,NaN,NaN,0.369074,NaN,NaN,24.571773,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.129572,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN
25%,NaN,NaN,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.425000,NaN
50%,NaN,NaN,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.300000,NaN
75%,NaN,NaN,NaN,0.000000,NaN,NaN,55.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.875000,NaN
max,NaN,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN

COMENTARIOS


count: todas las columnas cuentan con 7267 datos
unique: hay varias columnas que se esperan valores booleanos, sin emgargo hay 3 valores de respuesta.

In [68]:
(df_final == "").sum()

customerID            0
Churn               224
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod         0
Charges.Monthly       0
Charges.Total         0
dtype: int64

## Selecci√≥n, Transformaci√≥n y Correcci√≥n de Datos

1. Definiendo data types para cada columna: Ya sabemos las columnas, y que tipos de datos tiene, ahora vamos a agregar un "target type"

In [69]:
import pandas as pd

# Define the full set of columns with current and target data types
data_types = {
    'customerID': ['object', 'drop'],
    'Churn': ['object', 'bool'],
    'gender': ['object', 'category'],
    'SeniorCitizen': ['int64', 'int64'],
    'Partner': ['object', 'category'],
    'Dependents': ['object', 'category'],
    'tenure': ['int64', 'float64'],
    'PhoneService': ['object', 'category'],
    'MultipleLines': ['object', 'category'],
    'InternetService': ['object', 'category'],
    'OnlineSecurity': ['object', 'category'],
    'OnlineBackup': ['object', 'category'],
    'DeviceProtection': ['object', 'category'],
    'TechSupport': ['object', 'category'],
    'StreamingTV': ['object', 'category'],
    'StreamingMovies': ['object', 'category'],
    'Contract': ['object', 'category'],
    'PaperlessBilling': ['object', 'category'],
    'PaymentMethod': ['object', 'category'],
    'Charges.Monthly': ['float64', 'float64'],
    'Charges.Total': ['object', 'float64']
}

# Create the corrected DataFrame
df_types = pd.DataFrame.from_dict(data_types, orient='index', columns=['current_type', 'target_type'])

# Display the DataFrame
print(df_types)

                 current_type target_type
customerID             object        drop
Churn                  object        bool
gender                 object    category
SeniorCitizen           int64       int64
Partner                object    category
Dependents             object    category
tenure                  int64     float64
PhoneService           object    category
MultipleLines          object    category
InternetService        object    category
OnlineSecurity         object    category
OnlineBackup           object    category
DeviceProtection       object    category
TechSupport            object    category
StreamingTV            object    category
StreamingMovies        object    category
Contract               object    category
PaperlessBilling       object    category
PaymentMethod          object    category
Charges.Monthly       float64     float64
Charges.Total          object     float64

2. Filtrar las columnas relevante para el objetivo del projecto: Columnas escenciales, datos atados a los indicadores churn como customer tenure billing behavior, service usage. Remover columnas redundantes e irrelevantes.

In [70]:
# Crear una copia del dataframe sin la columna customerID
Dataframe = df_final.drop(columns=['customerID'])

# Verificar la estructura despu√©s de la eliminaci√≥n
print(Dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7267 non-null   object
 1   gender            7267 non-null   object
 2   SeniorCitizen     7267 non-null   int64
 3   Partner           7267 non-null   object
 4   Dependents        7267 non-null   object
 5   tenure            7267 non-null   int64
 6   PhoneService      7267 non-null   object
 7   MultipleLines     7267 non-null   object
 8   InternetService   7267 non-null   object
 9   OnlineSecurity    7267 non-null   object
 10  OnlineBackup      7267 non-null   object
 11  DeviceProtection  7267 non-null   object
 12  TechSupport       7267 non-null   object
 13  StreamingTV       7267 non-null   object
 14  StreamingMovies   7267 non-null   object
 15  Contract          7267 non-null   object
 16  PaperlessBilling  7267 non-null   object
 17  PaymentMethod     7267 non-null   object
 18  Charges.Monthly   7267 non-null   float64
 19  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB
None

In [71]:
(Dataframe == "").sum()

Churn               224
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod         0
Charges.Monthly       0
Charges.Total         0
dtype: int64

3. Transformar vs Limpiar:

A pesar de que algunas variables presentan una distribuci√≥n cercana al equilibrio (como gender) o est√°n altamente sesgadas hacia un extremo, se decide conservarlas, ya que su interacci√≥n con otras caracter√≠sticas podr√≠a proporcionar informaci√≥n valiosa sobre patrones de comportamiento. Se excluye √∫nicamente la variable customerID, dado que es un identificador √∫nico sin valor predictivo dentro del an√°lisis de churn.

Este enfoque permite preservar variables potencialmente relevantes, asegurando que cualquier sesgo existente sea examinado en relaci√≥n con otras caracter√≠sticas antes de la selecci√≥n final.

Dependiendo del caso de cada colunna, se decidira si se limpia primero o se transforma primero dependiendo si hay mjuchos valores faltantes, o si requiere reestructuraci√≥n.

#### La columna 'churn' y sus 224 entradas faltantes

Antes que nada, se tiene que enfatisar la importancia de la variable "churn" en el estudio, ya que es la **variable respuesta**, en otras palabras, la variable cuyo comportamiento se encuentra en escrutinio. El tratamiento de sus entradas vac√≠as es crucial. Se proponen 3 alternativas:

**1. La asignaci√≥n arbitraria de valores**

Asignar 'Yes' o 'No' a las filas con valores faltantes en Churn introduce un sesgo significativo en el an√°lisis, ya que se estar√≠an generando datos sint√©ticos sin evidencia estad√≠stica que los respalde. Esta decisi√≥n podr√≠a alterar las distribuciones originales de la variable de salida, afectando la interpretaci√≥n y precisi√≥n de cualquier modelo predictivo basado en estos datos.

Desde una perspectiva probabil√≠stica, este tipo de imputaci√≥n se asemeja a un supuesto de "Missing Completely at Random (MCAR)", lo cual dif√≠cilmente aplica si la ausencia de datos responde a patrones espec√≠ficos relacionados con caracter√≠sticas de los clientes o condiciones del servicio.

Por lo tanto, en lugar de asignar valores artificiales, la mejor estrategia es eliminar estas filas o, en contextos exploratorios, tratarlas como un grupo independiente con el objetivo de analizar si existen relaciones sistem√°ticas entre la falta de informaci√≥n y otras variables.

**2. La asignaci√≥n de una tercera categor√≠a**

Si bien mantener todas las filas en el conjunto de datos es un enfoque v√°lido para el an√°lisis exploratorio, modificar la estructura de la variable Churn al incluir una categor√≠a adicional (Desconocido) altera su naturaleza como variable binaria para la predicci√≥n (S√≠ / No). Esto implica que las filas con valores desconocidos no pueden utilizarse directamente en un modelo de predicci√≥n est√°ndar de abandono de clientes.

Adem√°s, incluir una categor√≠a "Desconocido" requerir√≠a aplicar m√©todos estad√≠sticos distintos, como pruebas de Chi-cuadrado y an√°lisis de distribuci√≥n, en lugar de t√©cnicas tradicionales como la correlaci√≥n de Pearson para variables num√©ricas o informaci√≥n mutua para categ√≥ricas. Esto puede sesgar la interpretaci√≥n del impacto de las variables en la predicci√≥n del abandono.

**3. La eliminaci√≥n de las filas con entradas vac√≠as**

Dado que el prop√≥sito del proyecto es desarrollar un an√°lisis predictivo centrado en la clasificaci√≥n binaria del churn, eliminar las filas con valores faltantes sigue siendo la estrategia m√°s adecuada para asegurar un conjunto de datos consistente y libre de ruido. No obstante, la propuesta de categorizar los valores faltantes es una opci√≥n v√°lida en estudios exploratorios si el objetivo es conservar todos los registros y analizar patrones m√°s amplios en la estructura de los datos.

**Conclusi√≥n**

Con solo un 3% de los datos con valores faltantes en la columna Churn, es poco probable que la creaci√≥n de una tercera categor√≠a aporte beneficios significativos al modelo predictivo y, en cambio, a√±adir√≠a complejidad innecesaria. Eliminar esas filas es un enfoque com√∫n y pr√°ctico para preparar los datos en una tarea de clasificaci√≥n binaria, como la predicci√≥n de abandono de clientes.

Adem√°s, incluir una categor√≠a "Desconocido" podr√≠a distorsionar la interpretaci√≥n del modelo, ya que el objetivo es identificar patrones de comportamiento claros entre clientes que s√≠ o no han abandonado el servicio. En este contexto, la eliminaci√≥n de filas con valores faltantes en Churn garantiza que el conjunto de datos est√© bien estructurado y alineado con los requerimientos de una clasificaci√≥n binaria efectiva.

**Gender**

La columna Gender se transforma en dtype categor√≠a. con 7043 entradas y solamente 2 unique¬¥s se concluye que est√° limpia

**SeniorCitizen**

Actualmente como Int64, la columna contiene 0 y 1. El 0 se transforma a categoria.

**Partner**

Se convierte en categoria, mismo caso que Gender

**Dependents, PhoneService y PaperlessBilling**

Las 3 colunnas se transforman en categor√≠as

**MultipleLines / InternetService / OnlineSecurity / OnlineBackup / DeviceProtection / TechSupport / StreamingTV / StreamingMovies / Contract**

Con 3 tipos de entradas, las columnas se convierten en categor√≠as

**PaymentMethod**

Con 4 diferentes tipos de entrada se transforma a Categoria

In [72]:
# La columna 'churn' y sus 224 entradas faltantes
Dataframe['Churn'].isnull().sum()

np.int64(0)

In [73]:
print(Dataframe['Churn'].unique())

['No' 'Yes' '']

In [74]:
df_churn = Dataframe[Dataframe['Churn'] != '']
df_churn.head()

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [75]:
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  Charges.Monthly   7043 non-null   float64
 19  Charges.Total     7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [76]:
df_churn.reset_index(drop=True, inplace=True)

In [77]:
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  Charges.Monthly   7043 non-null   float64
 19  Charges.Total     7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [78]:
df_churn['Churn'] = df_churn['Churn'].map({'Yes': True, 'No': False})
df_churn.head()
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7043 non-null   bool
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  Charges.Monthly   7043 non-null   float64
 19  Charges.Total     7043 non-null   object
dtypes: bool(1), float64(1), int64(2), object(16)
memory usage: 1.0+ MB

<ipython-input-78-1209372784>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_churn['Churn'] = df_churn['Churn'].map({'Yes': True, 'No': False})

In [79]:
df_churn.describe(include='all')

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
count,7043,7043,7043.000000,7043,7043,7043.000000,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043.000000,7043
unique,2,2,NaN,2,2,NaN,2,3,3,3,3,3,3,3,3,3,2,4,NaN,6531
top,False,Male,NaN,No,No,NaN,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,20.2
freq,5174,3555,NaN,3641,4933,NaN,6361,3390,3096,3498,3088,3095,3473,2810,2785,3875,4171,2365,NaN,11
mean,NaN,NaN,0.162147,NaN,NaN,32.371149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.761692,NaN
std,NaN,NaN,0.368612,NaN,NaN,24.559481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.090047,NaN
min,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN
25%,NaN,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.500000,NaN
50%,NaN,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,NaN
75%,NaN,NaN,0.000000,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.850000,NaN
max,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN

In [80]:
df_churn['gender'] = df_churn['gender'].astype('category')

<ipython-input-80-1202194325>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_churn['gender'] = df_churn['gender'].astype('category')

In [81]:
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7043 non-null   bool
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  Charges.Monthly   7043 non-null   float64
 19  Charges.Total     7043 non-null   object
dtypes: bool(1), category(1), float64(1), int64(2), object(15)
memory usage: 1004.4+ KB

In [82]:
df_churn['SeniorCitizen'].sample(20, random_state=42)

185     0
2715    0
3825    0
1807    0
132     0
1263    1
3732    1
1672    0
811     0
2526    0
2892    1
4129    0
2622    1
3801    0
4357    0
6179    0
5275    0
4640    0
833     0
5194    0
Name: SeniorCitizen, dtype: int64

In [83]:
df_churn_senior = df_churn.copy()
df_churn_senior["SeniorCitizen"] = df_churn_senior["SeniorCitizen"].astype(bool)
df_churn_senior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7043 non-null   bool
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   bool
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  Charges.Monthly   7043 non-null   float64
 19  Charges.Total     7043 non-null   object
dtypes: bool(2), category(1), float64(1), int64(1), object(15)
memory usage: 956.3+ KB

In [84]:
df_churn_senior.head()

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,False,Female,False,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,False,Male,False,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,True,Male,False,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,True,Male,True,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,True,Female,True,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [85]:
df_churn_partner = df_churn_senior.copy()
df_churn_partner["Partner"] = df_churn_partner["Partner"].astype("category")
df_churn_partner.info()
df_churn_partner.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7043 non-null   bool
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   bool
 3   Partner           7043 non-null   category
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  Charges.Monthly   7043 non-null   float64
 19  Charges.Total     7043 non-null   object
dtypes: bool(2), category(2), float64(1), int64(1), object(14)
memory usage: 908.3+ KB

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,False,Female,False,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,False,Male,False,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,True,Male,False,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,True,Male,True,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,True,Female,True,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [86]:
df_churn_category = df_churn_partner.copy()
df_churn_category["Dependents"] = df_churn_category["Dependents"].astype("category")
df_churn_category["PhoneService"] = df_churn_category["PhoneService"].astype("category")
df_churn_category["PaperlessBilling"] = df_churn_category["PaperlessBilling"].astype("category")
df_churn_category.info()
df_churn_category.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7043 non-null   bool
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   bool
 3   Partner           7043 non-null   category
 4   Dependents        7043 non-null   category
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   category
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   category
 17  PaymentMethod     7043 non-null   object
 18  Charges.Monthly   7043 non-null   float64
 19  Charges.Total     7043 non-null   object
dtypes: bool(2), category(5), float64(1), int64(1), object(11)
memory usage: 764.2+ KB

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,False,Female,False,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,False,Male,False,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,True,Male,False,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,True,Male,True,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,True,Female,True,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [87]:
df_churn_category.describe(include='all')

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
count,7043,7043,7043,7043,7043,7043.000000,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043.000000,7043
unique,2,2,2,2,2,NaN,2,3,3,3,3,3,3,3,3,3,2,4,NaN,6531
top,False,Male,False,No,No,NaN,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,20.2
freq,5174,3555,5901,3641,4933,NaN,6361,3390,3096,3498,3088,3095,3473,2810,2785,3875,4171,2365,NaN,11
mean,NaN,NaN,NaN,NaN,NaN,32.371149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.761692,NaN
std,NaN,NaN,NaN,NaN,NaN,24.559481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.090047,NaN
min,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN
25%,NaN,NaN,NaN,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.500000,NaN
50%,NaN,NaN,NaN,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,NaN
75%,NaN,NaN,NaN,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.850000,NaN
max,NaN,NaN,NaN,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN

In [88]:
columns_to_check = ["MultipleLines", "InternetService", "OnlineSecurity", "OnlineBackup", "DeviceProtection",
                    "TechSupport", "StreamingTV", "StreamingMovies", "Contract"]

for col in columns_to_check:
    print(f"{col}: {df_churn_category[col].unique()}")

MultipleLines: ['No' 'Yes' 'No phone service']
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: ['No' 'Yes' 'No internet service']
OnlineBackup: ['Yes' 'No' 'No internet service']
DeviceProtection: ['No' 'Yes' 'No internet service']
TechSupport: ['Yes' 'No' 'No internet service']
StreamingTV: ['Yes' 'No' 'No internet service']
StreamingMovies: ['No' 'Yes' 'No internet service']
Contract: ['One year' 'Month-to-month' 'Two year']

In [89]:
df_churn_services = df_churn_category.copy()

columns_to_convert = ["MultipleLines", "InternetService", "OnlineSecurity", "OnlineBackup",
                      "DeviceProtection", "TechSupport", "StreamingTV", "StreamingMovies", "Contract"]

for col in columns_to_convert:
    df_churn_services[col] = df_churn_services[col].astype("category")

In [90]:
df_churn_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7043 non-null   bool
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   bool
 3   Partner           7043 non-null   category
 4   Dependents        7043 non-null   category
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   category
 7   MultipleLines     7043 non-null   category
 8   InternetService   7043 non-null   category
 9   OnlineSecurity    7043 non-null   category
 10  OnlineBackup      7043 non-null   category
 11  DeviceProtection  7043 non-null   category
 12  TechSupport       7043 non-null   category
 13  StreamingTV       7043 non-null   category
 14  StreamingMovies   7043 non-null   category
 15  Contract          7043 non-null   category
 16  PaperlessBilling  7043 non-null   category
 17  PaymentMethod     7043 non-null   object
 18  Charges.Monthly   7043 non-null   float64
 19  Charges.Total     7043 non-null   object
dtypes: bool(2), category(14), float64(1), int64(1), object(2)
memory usage: 332.0+ KB

In [91]:
df_churn_services['PaymentMethod'].unique()

array(['Mailed check', 'Electronic check', 'Credit card (automatic)',
       'Bank transfer (automatic)'], dtype=object)

In [92]:
df_churn_payment = df_churn_services.copy()
df_churn_payment["PaymentMethod"] = df_churn_payment["PaymentMethod"].astype("category")
df_churn_payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7043 non-null   bool
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   bool
 3   Partner           7043 non-null   category
 4   Dependents        7043 non-null   category
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   category
 7   MultipleLines     7043 non-null   category
 8   InternetService   7043 non-null   category
 9   OnlineSecurity    7043 non-null   category
 10  OnlineBackup      7043 non-null   category
 11  DeviceProtection  7043 non-null   category
 12  TechSupport       7043 non-null   category
 13  StreamingTV       7043 non-null   category
 14  StreamingMovies   7043 non-null   category
 15  Contract          7043 non-null   category
 16  PaperlessBilling  7043 non-null   category
 17  PaymentMethod     7043 non-null   category
 18  Charges.Monthly   7043 non-null   float64
 19  Charges.Total     7043 non-null   object
dtypes: bool(2), category(15), float64(1), int64(1), object(1)
memory usage: 284.1+ KB

In [93]:
#TREATING TENURE

df_churn_payment['tenure'].isna().sum()  # Counts actual missing values
df_churn_payment['tenure'].unique()  # Displays unique values including potential NaNs

array([ 9,  4, 13,  3, 71, 63,  7, 65, 54, 72,  5, 56, 34,  1, 45, 50, 23,
       55, 26, 69, 37, 49, 66, 67, 20, 43, 59, 12, 27,  2, 25, 29, 14, 35,
       64, 39, 40, 11,  6, 30, 70, 57, 58, 16, 32, 33, 10, 21, 61, 15, 44,
       22, 24, 19, 47, 62, 46, 52,  8, 60, 48, 28, 41, 53, 68, 31, 36, 17,
       18, 51, 38, 42,  0])

4. Se correr√°n tests para verificar que los datos est√©n listos para ser analisados

In [94]:
df_churn_payment[['tenure']].sample(n=100, random_state=42)

      tenure
185       32
2715      72
3825      71
1807       3
132        8
...      ...
1379      49
734        1
3802      12
2167      19
4714       2

[100 rows x 1 columns]

In [95]:
df_churn_payment.rename(columns={'Charges.Monthly': 'MonthlyCharges'}, inplace=True)
df_churn_payment.head()

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,Charges.Total
0,False,Female,False,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,False,Male,False,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,True,Male,False,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,True,Male,True,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,True,Female,True,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [96]:
df_churn_payment.rename(columns={'Charges.Total': 'TotalCharges'}, inplace=True)
df_churn_payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7043 non-null   bool
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   bool
 3   Partner           7043 non-null   category
 4   Dependents        7043 non-null   category
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   category
 7   MultipleLines     7043 non-null   category
 8   InternetService   7043 non-null   category
 9   OnlineSecurity    7043 non-null   category
 10  OnlineBackup      7043 non-null   category
 11  DeviceProtection  7043 non-null   category
 12  TechSupport       7043 non-null   category
 13  StreamingTV       7043 non-null   category
 14  StreamingMovies   7043 non-null   category
 15  Contract          7043 non-null   category
 16  PaperlessBilling  7043 non-null   category
 17  PaymentMethod     7043 non-null   category
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
dtypes: bool(2), category(15), float64(1), int64(1), object(1)
memory usage: 284.1+ KB

In [97]:
df_churn_payment['MonthlyCharges'].isna().sum()

np.int64(0)

In [98]:
df_churn_payment['MonthlyCharges'].describe()

count    7043.000000
mean       64.761692
std        30.090047
min        18.250000
25%        35.500000
50%        70.350000
75%        89.850000
max       118.750000
Name: MonthlyCharges, dtype: float64

In [99]:
df_churn_payment['TotalCharges'].sample(100, random_state=42)  # Check random values

185      614.45
2715     7848.5
3825    6293.75
1807     130.15
132       165.5
         ...
1379    4847.35
734       69.75
3802    1021.75
2167     910.45
4714     184.15
Name: TotalCharges, Length: 100, dtype: object

In [100]:
df_churn_payment['TotalCharges'].dtype  # Confirm current dtype

dtype('O')

In [101]:

df_churn_payment['TotalCharges'].str.isnumeric().sum()  # Count numeric entries

np.int64(324)

In [102]:
df_churn_payment.isna().sum()  # Check if there are missing values

Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

In [103]:
df_churn_payment['TotalCharges'] = pd.to_numeric(df_churn_payment['TotalCharges'], errors='coerce')

In [104]:
df_churn_payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7043 non-null   bool
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   bool
 3   Partner           7043 non-null   category
 4   Dependents        7043 non-null   category
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   category
 7   MultipleLines     7043 non-null   category
 8   InternetService   7043 non-null   category
 9   OnlineSecurity    7043 non-null   category
 10  OnlineBackup      7043 non-null   category
 11  DeviceProtection  7043 non-null   category
 12  TechSupport       7043 non-null   category
 13  StreamingTV       7043 non-null   category
 14  StreamingMovies   7043 non-null   category
 15  Contract          7043 non-null   category
 16  PaperlessBilling  7043 non-null   category
 17  PaymentMethod     7043 non-null   category
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
dtypes: bool(2), category(15), float64(2), int64(1)
memory usage: 284.1 KB

In [105]:
df_churn_payment[df_churn_payment['TotalCharges'].isna()]

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
945,False,Female,False,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN
1731,False,Female,False,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN
1906,False,Male,False,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN
2025,False,Male,False,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN
2176,False,Male,False,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN
2250,False,Male,False,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN
2855,False,Female,False,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN
3052,False,Male,False,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN
3118,False,Female,False,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN
4054,False,Female,False,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN
5433,False,Male,False,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN

In [107]:
df_churn_payment = df_churn_payment.assign(TotalCharges=df_churn_payment['TotalCharges'].fillna(0))

In [108]:
df_churn_payment[df_churn_payment['TotalCharges'].isna()]

Empty DataFrame
Columns: [Churn, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges]
Index: []

In [109]:
clean_df = df_churn_payment.copy()

In [110]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7043 non-null   bool
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   bool
 3   Partner           7043 non-null   category
 4   Dependents        7043 non-null   category
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   category
 7   MultipleLines     7043 non-null   category
 8   InternetService   7043 non-null   category
 9   OnlineSecurity    7043 non-null   category
 10  OnlineBackup      7043 non-null   category
 11  DeviceProtection  7043 non-null   category
 12  TechSupport       7043 non-null   category
 13  StreamingTV       7043 non-null   category
 14  StreamingMovies   7043 non-null   category
 15  Contract          7043 non-null   category
 16  PaperlessBilling  7043 non-null   category
 17  PaymentMethod     7043 non-null   category
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
dtypes: bool(2), category(15), float64(2), int64(1)
memory usage: 284.1 KB

# RESULTADOS

#

# CONTROL DE VERSIONES DE LA BASES DE DATOS


- df	        Raw DataFrame con los datos originales extra√≠dos

- df_customer	Normalizaci√≥n de la columna

- df_phone	  Normalizaci√≥n de la columna phone	PhoneService

- df_internet	Normalizaci√≥n de la columna internet

- df_account	Normalizaci√≥n de la columna account	Contract

- df_final	  DataFrame consolidado

- Dataframe	  Versi√≥n refinada, con customerID eliminado

- df_churn    la columna churn es bool

- df_churn_senior la columna gender es category y SeniorCitizen es bool

- df_churn_partner  se convierte partner en category

- df_churn_category adicionalmente las columnas Dependents, PhoneService y PaperlessBilling se convierten en categor√≠as

- df_churn_services las columnas MultipleLines / InternetService / OnlineSecurity / OnlineBackup / DeviceProtection / TechSupport / StreamingTV / StreamingMovies / Contract se transforman a categorias

- df_churn_payment PaymentMethod se transforma a categoria